/* CSS for SASS work */
body {
  font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
  padding: 0;
}

.logo-height {
  margin-top: 4px;
  height: 75px;
}

.red-text {
  font-weight: bold;
  color: red;
}

.buffer-top {
  margin-top: 8px;
}

.buffer-bottom {
  margin-bottom: 50px;
}
