<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Service Client : assistance ou urgence</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">Du lundi au vendredi, de 8h30 à 18h30 (CET)</div>
          </div>

          <div class="row">
            <div class="col-xs-12 red-text">+33 (0)1 23 34 56 78</div>
          </div>
        </div>
      </div>

      <h1>Réservation de visioconférence</h1>

      <div class="alert alert-danger" ng-show="fail">
        Merci de compléter le formulaire ci-dessus conformément aux erreurs signalées dans celui-ci.
      </div>

      <div class="alert alert-success" ng-show="success">
        Le formulaire a été envoyé avec succès. Vous allez recevoir un courriel de confirmation dans quelques instants.
      </div>

      <form name="form" class="form-horizontal" novalidate>
        <h2>Informations</h2>

        <div class="form-group">
          <label for="meeting-date" class="col-md-3 control-label">Date de réunion</label>
          <div class="col-md-9">
            <datepicker class="input-group date" ng-model="booking.date" />
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : (form.theme.$invalid && !form.theme.$pristine) || (form.theme.$invalid && form.$submitted) }">
          <label for="theme" class="col-md-3 control-label">Thème de la réunion</label>
          <div class="col-md-9">
            <input class="form-control" name="theme" id="theme" type="text" placeholder="Thème de la réunion" ng-model="booking.theme" required="" />
            <p ng-show="(form.theme.$invalid && !form.theme.$pristine) || (form.theme.$invalid && form.$submitted)" class="help-block">
              Le thème doit être renseigné !
            </p>
          </div>
        </div>

        <div class="form-group">
          <label for="focus-starttime" class="col-md-3 control-label">Heure de début</label>
          <div class="col-md-9">
            <timepicker class="input-group date" ng-model="booking.starttime" idfocus="focus-starttime" />
          </div>
        </div>

        <div class="form-group">
          <label for="focus-endtime" class="col-md-3 control-label">Heure de fin</label>
          <div class="col-md-9">
            <timepicker class="input-group date" ng-model="booking.endtime" hours="11" minutes="00" idfocus="focus-endtime" />
          </div>
        </div>

        <div class="alert alert-danger buffer-top" ng-hide="hoursCheck">
          L'horaire de fin doit être supérieur à l'horaire de début.
        </div>

        <div class="form-group" ng-class="{ 'has-error' : (form.email.$invalid && !form.email.$pristine) || (form.email.$invalid && form.$submitted) }">
          <label for="email" class="col-md-3 control-label">Courriel</label>
          <div class="col-md-9">
            <input class="form-control" name="email" id="email" type="email" placeholder="Courriel du demandeur" ng-model="booking.email" required="" />
            <p ng-show="(form.email.$invalid && !form.email.$pristine) || (form.email.$invalid && form.$submitted)" class="help-block">
              Le courriel est incorrect !
            </p>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : (form.phone.$invalid && !form.phone.$pristine) || (form.phone.$invalid && form.$submitted) }">
          <label for="phone" class="col-md-3 control-label">Téléphone</label>
          <div class="col-md-9">
            <input class="form-control" name="phone" id="phone" type="text" placeholder="Téléphone du demandeur" ng-model="booking.phone" required="" />
            <p ng-show="(form.phone.$invalid && !form.phone.$pristine) || (form.phone.$invalid && form.$submitted)" class="help-block">
              Le numéro de téléphone est incorrect !
            </p>
          </div>
        </div>

        <div class="form-group">
          <label for="focus-comments" class="col-md-3 control-label">Commentaires</label>
          <div class="col-md-9">
            <textarea class="form-control" placeholder="Commentaires" rows="5" ng-model="booking.comments" id="focus-comments"></textarea>
          </div>
        </div>
        
        <h2>Site Hachette Livre</h2>

        <div class="alert alert-danger" ng-show="roomCheck">
          Possiblités : 
          <ul>
            <li>sélection d'une salle interne et saisie d'une salle externe au minimum</li>
            <li>sélection de 2 salles internes au minimum</li>
            <li>saisie de 2 salles externes au minimum</li>
          </ul>
        </div>

        <div class="row">
          <div class="col-md-6">

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Vanves</h3>
              </div>
              <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.internal[0].isChecked">
                    FR · Vanves · A. Dumas1
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.internal[1].isChecked">
                    FR · Vanves · A. Joanne
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.internal[2].isChecked">
                    FR · Vanves · Bredif
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.internal[3].isChecked">
                    FR · Vanves · C. de Segur
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.internal[4].isChecked">
                    FR · Vanves · E. Reclus
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.internal[5].isChecked">
                    FR · Vanves · J.L. Lagardère
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.internal[6].isChecked">
                    FR · Vanves · J. Michelet
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.internal[7].isChecked">
                    FR · Vanves · J. Verne
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.internal[8].isChecked">
                    FR · Vanves · V. Hugo
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Vélizy</h3>
              </div>
              <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.internal[9].isChecked">
                    FR · Vélizy · A. Turing
                  </label>
                </div>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Malakoff</h3>
              </div>
              <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.internal[10].isChecked">
                    FR · Malakoff · Avenir
                  </label>
                </div>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Maurepas</h3>
              </div>
              <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.internal[11].isChecked">
                    FR · Maurepas · B. Pascal
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Options</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.assistance">
                    Service d'assistance (160 &euro;/heure)
                  </label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.audio">
                    Accès audio
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h2>Autre site de visioconférence</h2>

        <div class="alert alert-danger" ng-show="roomCheck">
          Possiblités : 
          <ul>
            <li>sélection d'une salle interne et saisie d'une salle externe au minimum</li>
            <li>sélection de 2 salles internes au minimum</li>
            <li>saisie de 2 salles externes au minimum</li>
          </ul>
        </div>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nom du site / salle / pays</th>
                <th>Num. ISDN / débit  ou adr. IP</th>
                <th>Contact technique et numéro de téléphone pour les tests</th>
                <th ng-show="booking.external.length !== 1"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in booking.external">
                <td>
                  <input class="form-control" type="text" ng-model="item.name" name="" placeholder="Nom" />
                </td>
                <td><input class="form-control" type="text" ng-model="item.number" placeholder="Numéro" /></td>
                <td><input class="form-control" type="text" ng-model="item.contact" placeholder="Contact" /></td>
                <td ng-show="booking.external.length !== 1">
                  <a class="btn btn-default btn-sm" ng-click="removeExternalRoom($index)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="form-group">
          <div class="col-md-9 col-md-offset-3">
            <button type="button" class="btn btn-default" ng-click="addExternalRoom()">
              <span class="glyphicon glyphicon-plus"></span> 
              Ajouter une salle externe
            </button>
          </div>
        </div>


        <div class="form-group" ng-class="{ 'has-error' : booking.representError }">
          <label for="represent" class="col-md-3 control-label">Interlocuteur</label>
          <div class="col-md-9">
            <input class="form-control" name="represent" id="represent" type="text" placeholder="Interlocuteur" ng-model="booking.represent" />
            <p ng-show="booking.representError" class="help-block">
              L'interlocuteur est incorrect !
            </p>
          </div>
        </div>

        <div class="form-group buffer-bottom" ng-class="{ 'has-error' : booking.addressError }">
          <label for="address" class="col-md-3 control-label">Adresse</label>
          <div class="col-md-9">
            <input class="form-control" name="address" id="address" type="text" placeholder="Adresse" ng-model="booking.address" />
            <p ng-show="booking.addressError" class="help-block">
              L'adresse est incorrecte !
            </p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-9 col-md-offset-3">
            <button type="submit" class="btn btn-primary" ng-click="update()">
              <span class="glyphicon glyphicon-send"></span> 
              Soumettre
            </button>
          </div>
        </div>

      </form>


      <div class="alert alert-danger" ng-show="fail">
        Merci de compléter le formulaire ci-dessus conformément aux erreurs signalées dans celui-ci.
      </div>
      
      <div class="alert alert-success" ng-show="success">
        Le formulaire a été envoyé avec succès. Vous allez recevoir un courriel de confirmation dans quelques instants.
      </div>

      <!-- <pre>send = {{booking | json}}</pre> -->
  </div>
</div>