<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Service Client Arkadin : assistance ou urgence</h3>
        </div>
        <div class="panel-body">
          Du lundi au vendredi, de 8h30 à 18h30 (CET)
          <br />
          <span class="red-text">+33 (0)1 70 72 15 49</span>
        </div>
      </div>

      <h1>Réservation de visioconférence</h1>

      <form name="bookingForm" class="form-horizontal" ng-submit="submitForm()" novalidate>
        <h2>Informations</h2>

        <div class="form-group">
          <label for="form-date-reunion" class="col-md-3 control-label">Date de réunion</label>
          <div class="col-md-9">
            <datepicker class="input-group date" ng-model="data.date" default-date="{{data.date}}" />
          </div>
        </div>


        <!--        <div class="form-group" ng-class="{ 'has-error' : bookingForm.name.$invalid && !bookingForm.name.$pristine }">
                  <label>Name</label>
                  <input type="text" name="name" class="form-control" ng-model="data.name" required>
                  <p ng-show="bookingForm.name.$invalid && !bookingForm.name.$pristine" class="help-block">You name is required.</p>
                </div>-->


        <!--        <div class="form-group" ng-class="{ 'has-error' : bookingForm.username.$invalid && !bookingForm.username.$pristine }">
                  <label>Username</label>
                  <input type="text" name="username" class="form-control" ng-model="data.username" ng-minlength="3" ng-maxlength="8">
                  <p ng-show="bookingForm.username.$error.minlength" class="help-block">Username is too short.</p>
                  <p ng-show="bookingForm.username.$error.maxlength" class="help-block">Username is too long.</p>
                </div>-->


        <div class="form-group" ng-class="{ 'has-error' : bookingForm.theme.$invalid && !bookingForm.theme.$pristine }">
          <label for="theme" class="col-md-3 control-label">Thème de la réunion</label>
          <div class="col-md-9">
            <input class="form-control" name="theme" id="theme" type="text" placeholder="Thème de la réunion" ng-model="data.theme" required="" />
            <p ng-show="bookingForm.theme.$invalid && !bookingForm.theme.$pristine" class="help-block">
              Le thème doit être renseigné !
            </p>
          </div>
        </div>

        <div class="form-group">
          <label for="form-date-reunion" class="col-md-3 control-label">Heure de début</label>
          <div class="col-md-9">

            <timepicker ng-model="data.start" time="11:00" />



            <div class='input-group date' id='datetimepicker3'>
              <input type='text' class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="form-heure-debut" class="col-md-3 control-label">Heure de fin</label>
          <div class="col-md-9">

            <div class='input-group date' id='datetimepicker4'>
              <input type='text' class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>

          </div>
        </div>

        <script type="text/javascript">
              $(function () {
                var start = moment();
                start.hours(10).minutes(00);

                var end =  moment();
                end.hours(11).minutes(00);

                $('#datetimepicker3').datetimepicker({
                  defaultDate: start,
                  format: 'LT',
                  locale: 'fr'
                });

                $('#datetimepicker4').datetimepicker({
                  defaultDate: end,
                  format: 'LT',
                  locale: 'fr'
                });

                $("#datetimepicker3").on("dp.change", function (e) {
                  $('#datetimepicker4').data("DateTimePicker").minDate(e.date);
                });

                $("#datetimepicker4").on("dp.change", function (e) {
                  $('#datetimepicker3').data("DateTimePicker").maxDate(e.date);
                });
              });
        </script>

        <div class="form-group" ng-class="{ 'has-error' : bookingForm.email.$invalid && !bookingForm.email.$pristine }">
          <label for="email" class="col-md-3 control-label">Courriel</label>
          <div class="col-md-9">
            <input class="form-control" name="email" id="email" type="email" placeholder="Courriel du demandeur" ng-model="data.email" />
            <p ng-show="bookingForm.email.$invalid && !bookingForm.email.$pristine" class="help-block">Le courriel est incorrect !</p>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : bookingForm.phone.$invalid && !bookingForm.phone.$pristine }">
          <label for="phone" class="col-md-3 control-label">Téléphone</label>
          <div class="col-md-9">
            <input class="form-control" name="phone" id="phone" type="text" placeholder="Téléphone du demandeur" ng-model="data.phone" required="" />
            <p ng-show="bookingForm.phone.$invalid && !bookingForm.phone.$pristine" class="help-block">Le numéro de téléphone est incorrect !</p>
          </div>
        </div>


        <h2>Site Hachette Livre</h2>

        <div class="row">
          <div class="col-md-6">

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Vanves</h3>
              </div>
              <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="form-salle-1" ng-model="data.salle1">
                    FR · Vanves · A. Dumas1
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="form-salle-2" ng-model="data.salle2">
                    FR · Vanves · A. Joanne
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="form-salle-3" ng-model="data.salle3">
                    FR · Vanves · Bredif
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="form-salle-4" ng-model="data.salle4">
                    FR · Vanves · C. de Segur
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="form-salle-5" ng-model="data.salle5">
                    FR · Vanves · E. Reclus
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="form-salle-6" ng-model="data.salle6">
                    FR · Vanves · J.L. Lagardère
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="form-salle-7" ng-model="data.salle7">
                    FR · Vanves · J. Michelet
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="form-salle-8" ng-model="data.salle8">
                    FR · Vanves · J. Verne
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="form-salle-9" ng-model="data.salle9">
                    FR · Vanves · V. Hugo
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Vélizy</h3>
              </div>
              <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="form-salle-10" ng-model="data.salle10">
                    FR · Vélizy · A. Turing
                  </label>
                </div>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Malakoff</h3>
              </div>
              <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="form-salle-11" ng-model="data.salle11">
                    FR · Malakoff · Avenir
                  </label>
                </div>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Maurepas</h3>
              </div>
              <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="form-salle-12" ng-model="data.salle12">
                    FR · Maurepas · B. Pascal
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Options</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="form-assistance" ng-model="data.assistance">
                    Service d'assistance
                  </label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="form-audio" ng-model="data.audio">
                    Accès audio
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>


        <h2>Autre site de visioconférence</h2>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nom du site / salle / pays</th>
                <th>Num. ISDN / débit  ou adr. IP</th>
                <th>Contact technique et numéro de téléphone pour les tests</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input class="form-control" name="form-site[1][nom]" type="text" placeholder="Nom" /></td>
                <td><input class="form-control" name="form-site[1][numero]" type="text" placeholder="Numéro" /></td>
                <td><input class="form-control" name="form-site[1][contact]" type="text" placeholder="Contact" /></td>
              </tr>
              <tr>
                <td><input class="form-control" name="form-site[1][nom]" type="text" placeholder="Nom" /></td>
                <td><input class="form-control" name="form-site[1][numero]" type="text" placeholder="Numéro" /></td>
                <td><input class="form-control" name="form-site[1][contact]" type="text" placeholder="Contact" /></td>
              </tr>
              <tr>
                <td><input class="form-control" name="form-site[1][nom]" type="text" placeholder="Nom" /></td>
                <td><input class="form-control" name="form-site[1][numero]" type="text" placeholder="Numéro" /></td>
                <td><input class="form-control" name="form-site[1][contact]" type="text" placeholder="Contact" /></td>
              </tr>
              <tr>
                <td><input class="form-control" name="form-site[1][nom]" type="text" placeholder="Nom" /></td>
                <td><input class="form-control" name="form-site[1][numero]" type="text" placeholder="Numéro" /></td>
                <td><input class="form-control" name="form-site[1][contact]" type="text" placeholder="Contact" /></td>
              </tr>
            </tbody>
          </table>
        </div>

        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-send"></span> 
          Soumettre
        </button>

        <button class="btn btn-primary" ng-click="resetForm()">
          <span class="glyphicon glyphicon-repeat"></span> 
          Réinitialiser
        </button>

      </form>

      <br />

      <div class="alert alert-success" role="alert" ng-show="formIsValid">
        Votre demande a été envoyé avec succès !
      </div>
      
      <div class="alert alert-danger" role="alert" ng-show="errorsDetected">
        Des erreurs ont été détectées.
      </div>

      <!--<pre>data = {{data| json}}</pre>-->

    </div>
  </div>
</div>