<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Service Client Arkadin : assistance ou urgence</h3>
        </div>
        <div class="panel-body">
          Du lundi au vendredi, de 8h30 à 18h30 (CET)
          <br />
          <span class="red-text">+33 (0)1 70 72 15 49</span>
        </div>
      </div>

      <h1>Réservation de visioconférence</h1>

      <div class="alert alert-danger" ng-show="form.$submitted && form.$invalid">
        <span class="glyphicon glyphicon-alert"></span>
        Veuillez remplir les champs manquants.
      </div>

      <form name="form" class="form-horizontal" novalidate>
        <h2>Informations</h2>

        <div class="form-group">
          <label for="form-date-reunion" class="col-md-3 control-label">Date de réunion</label>
          <div class="col-md-9">
            <datepicker class="input-group date" ng-model="booking.date" />
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : (form.theme.$invalid && !form.theme.$pristine) || (form.theme.$invalid && form.$submitted) }">
          <label for="theme" class="col-md-3 control-label">Thème de la réunion</label>
          <div class="col-md-9">
            <input class="form-control" name="theme" id="theme" type="text" placeholder="Thème de la réunion" ng-model="booking.theme" required="" />
            <p ng-show="(form.theme.$invalid && !form.theme.$pristine) || (form.theme.$invalid && form.$submitted)" class="help-block">
              Le thème doit être renseigné !
            </p>
          </div>
        </div>

        <div class="form-group">
          <label for="form-date-reunion" class="col-md-3 control-label">Heure de début</label>
          <div class="col-md-9">
            <timepicker class="input-group date" ng-model="booking.starttime" />
          </div>
        </div>

        <div class="form-group">
          <label for="form-heure-debut" class="col-md-3 control-label">Heure de fin</label>
          <div class="col-md-9">
            <timepicker class="input-group date" ng-model="booking.endtime" hours="11" minutes="00" />
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : (form.email.$invalid && !form.email.$pristine) || (form.email.$invalid && form.$submitted) }">
          <label for="email" class="col-md-3 control-label">Courriel</label>
          <div class="col-md-9">
            <input class="form-control" name="email" id="email" type="email" placeholder="Courriel du demandeur" ng-model="booking.email" required="" />
            <p ng-show="(form.email.$invalid && !form.email.$pristine) || (form.email.$invalid && form.$submitted)" class="help-block">
              Le courriel est incorrect !
            </p>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : (form.phone.$invalid && !form.phone.$pristine) || (form.phone.$invalid && form.$submitted) }">
          <label for="phone" class="col-md-3 control-label">Téléphone</label>
          <div class="col-md-9">
            <input class="form-control" name="phone" id="phone" type="text" placeholder="Téléphone du demandeur" ng-model="booking.phone" required="" />
            <p ng-show="(form.phone.$invalid && !form.phone.$pristine) || (form.phone.$invalid && form.$submitted)" class="help-block">
              Le numéro de téléphone est incorrect !
            </p>
          </div>
        </div>


        <h2>Site Hachette Livre</h2>

        <div class="row">
          <div class="col-md-6">

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Vanves</h3>
              </div>
              <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.room1" ng-init="booking.room1 = false">
                    FR · Vanves · A. Dumas1
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.room2" ng-init="booking.room2 = false">
                    FR · Vanves · A. Joanne
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.room3" ng-init="booking.room3 = false">
                    FR · Vanves · Bredif
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.room4" ng-init="booking.room4 = false">
                    FR · Vanves · C. de Segur
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.room5" ng-init="booking.room5 = false">
                    FR · Vanves · E. Reclus
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.room6" ng-init="booking.room6 = false">
                    FR · Vanves · J.L. Lagardère
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.room7" ng-init="booking.room7 = false">
                    FR · Vanves · J. Michelet
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.room8" ng-init="booking.room8 = false">
                    FR · Vanves · J. Verne
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.room9" ng-init="booking.room9 = false">
                    FR · Vanves · V. Hugo
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Vélizy</h3>
              </div>
              <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.room10" ng-init="booking.room10 = false">
                    FR · Vélizy · A. Turing
                  </label>
                </div>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Malakoff</h3>
              </div>
              <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.room11" ng-init="booking.room11 = false">
                    FR · Malakoff · Avenir
                  </label>
                </div>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Maurepas</h3>
              </div>
              <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.room12" ng-init="booking.room12 = false">
                    FR · Maurepas · B. Pascal
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Options</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.assistance" ng-init="booking.assistance = false">
                    Service d'assistance
                  </label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="booking.audio" ng-init="booking.audio = false">
                    Accès audio
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h2>Autre site de visioconférence</h2>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nom du site / salle / pays</th>
                <th>Num. ISDN / débit  ou adr. IP</th>
                <th>Contact technique et numéro de téléphone pour les tests</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="freeroom in booking.freerooms">
                <td>
                  <input class="form-control" type="text" ng-model="freeroom.name" name="" placeholder="Nom" required="" />
                  <p ng-show="true" class="help-block">
                    Le thème doit être renseigné !
                  </p>
                </td>
                <td><input class="form-control" type="text" ng-model="freeroom.number" placeholder="Numéro" /></td>
                <td><input class="form-control" type="text" ng-model="freeroom.contact" placeholder="Contact" /></td>
              </tr>
            </tbody>
          </table>
        </div>

        <p>
          <button type="button" class="btn btn-default" ng-click="addFreeroom()">
            <span class="glyphicon glyphicon-plus"></span> 
            Ajouter une salle
          </button>
        </p>

        <p>
          <button type="button" class="btn btn-primary" ng-click="reset(form)">
            <span class="glyphicon glyphicon-repeat"></span> 
            Réinitialiser
          </button>
          <button type="submit" class="btn btn-primary" ng-click="update(booking)">
            <span class="glyphicon glyphicon-send"></span> 
            Soumettre
          </button>
        </p>
      </form>


      <div class="alert alert-danger" ng-show="form.$submitted && form.$invalid">
        <span class="glyphicon glyphicon-alert"></span>
        Veuillez remplir les champs manquants.
      </div>

      <!--      <div class="alert alert-success" ng-show="form.$submitted && form.$valid">
              <span class="glyphicon glyphicon-alert"></span>
              Le formulaire a été envoyé avec succès. Vous allez recevoir un courriel de confirmation dans quelques instants.
            </div>-->


      <pre>booking = {{booking| json}}</pre>
      <pre>master = {{master| json}}</pre>

    </div>
  </div>
</div>