<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="buffer-top">Authentication</h1>

      <form ng-submit="submit()">
        <div class="form-group">
          <label for="MyLogin">Username</label>
          <input type="text" class="form-control" ng-model="loginValue" placeholder="Username" autofocus="">
        </div>
        <div class="form-group">
          <label for="MyPassword">Password</label>
          <input type="password" class="form-control" ng-model="passwordValue" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
      </form>

      <br>
      <div class="alert alert-danger" ng-show="showError">Wrong credentials. Try again !</div>

      <h2>Example</h2 >
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>login</td>
            <td>aze</td>
          </tr>
          <tr>
            <td>password</td>
            <td>qsd</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>